@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: make fonts & scroll smooth */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  scroll-behavior: smooth;
}
